[user]
	name = Jan Jaworski
	email = jaworek3211@gmail.com
[core]
	autocrlf = input
	editor = nvim
	pager = delta --paging never
[init]
	defaultBranch = master
[help]
	autocorrect = 50
[pull]
	rebase = true
[interactive]
    	diffFilter = delta --color-only
[delta]
    	line-numbers = true
